.claude/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
notebooks/

# Environments
.env
.envrc
.venv*
venv*
env/
ENV/
env.bak/

# macOS display setting files
.DS_Store

# test resources
RAG/evaluation/
test-static-vault/
fastAPI/debug.log
